.card {
  max-width: 450px;
  transition: all 0.3s ease-in-out;

  .mat-card {
    border-radius: 16px;
  }

  .mat-card-header-text {
    width: 100%;
  }

  .mat-card-actions {
    display: flex;
    justify-content: space-around;
  }

  &__image {
    height: 150px;
    width: 150px;
    margin: auto;
    background-size: cover;
    background-position: center;
    border-radius: 24px;
  }
}
